.select {
    font-size: 36pt;
    border: 4px solid #fff;
    border-radius: 6px;
    padding: 4px;
    margin: 20px;
    /* This disables the double-click and drag select*/
    /* From: https://stackoverflow.com/questions/4117466/javascript-disable-text-selection-via-doubleclick */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: border-color 0.05s;
}

.select:hover {
    border: 4px solid #000;
    cursor: pointer;
}

.content {
    width: 320px;
    margin: 0 auto;
    position: relative;
}

.scoreboard {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    position: relative;
}

.score {
    font-size: 36pt;
    position: absolute;
    font-family: monospace;
}

.score.user {
    left: 20px;
}

.score.computer {
    right: 20px;
    text-align: right;
}

.choice {
    color: #FFF;
    padding: 8px;
    margin: 20px;
    font-size: 62pt;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 6px;
    transition: color 0.5s, border-color 0.5s;
}

.choice.show {
    color: #000;
}

.choice.show {

}

.results {
    height: 92pt;
}

#c-usr {
    left: 0;
}

#c-usr.show.true {
    border-color: #0f0;
}

#c-cmp.show.false {
    border-color: #f00;
}

#c-cmp {
    right: 0;
}

