<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CS496/Assignment 2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <style>
    body {
      margin-top: 30px;
      font-family: 'Montserrat', sans-serif;
    }

    .image-selection img {
      width: 300px;

    }

    .image-selection .image-clip {
      display: inline-block;
      max-height: 400px;
      overflow: hidden;
    }
  </style>
</head>
<body>
<div class="container">
      {% block body %}{% endblock %}
</div>

</body>
</html>
