.image_container {
	overflow: hidden;
	width: 800px;
	height: 540px;
	position: relative;
}

.image_container:hover #next-icon {
	opacity: 1;
}

#next-icon {
	opacity: 0;
	transition: opacity 0.2s;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
}
	

#next-icon i {
	font-size: 72pt;
	color: white;
	position: absolute;
	top: 40%;
	right: 0;
	/* Stroke hack from: https://css-tricks.com/adding-stroke-to-web-text/ */
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     0px 1px 1px rgba(0, 0, 0, 0.4);
     cursor: pointer;
}
